pidfilepath = /var/run/mongodb/configsrv.pid
dbpath = {{ File2 }}
logpath = {{ File3 }}/congigsrv.log
logappend = true
bind_ip = 0.0.0.0
port = {{ ConfigPort }}
fork = true
configsvr = true #declare this is a config db of a cluster;
replSet=configs #副本集名称
maxConns=20000 #设置最大连接数
